body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.blue {
  background: #2500f7;
}

.blue.light {
  background: #3a64eb;
}

.red {
  background: #fc0000;
}

.red.light {
  background: #fc4c34;
}

.yellow {
  background: #fcf700;
}

.yellow.light {
  background: #fae845;
}

.green {
  background: #46bb14;
}

.green.light {
  background: #65e42a;
}

.btn-start {
  width: 200px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  border-radius: 10%;
}

.hide {
  display: none;
}

* {
  font-family: 'Arial';
}
